<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        
        <h1>Welcome to MakersBnB.</h1>
        <p>Login</p>
        <form method="POST" action="/index">
            <label for ="username">Username/Email:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for ="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>


            <input type="submit" value="Log In">
            <p>New user? <a href="/signup">Sign up here</a></p>
        </form>
    </body>
</html>
