<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        
        <p>Welcome to MakersBnB.</h1>
        <p>Login</p>
        <form method="POST" action="/">
            <label for ="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for ="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Sign Ip">
            <p>New user? <a href="/sign_up">Sign up here</a></p>
        </form>
    </body>
</html>
