<!-- GET /albums -->
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title> Space</title>
  </head>
  <body>
    <h1>Space Name: {{space.name}}</h1>
    <p class="t-description">Descrition:{{space.description}}</p>
    <p class="t-price_per_night">Price per night:{{space.price_per_night}}</p>
    <p class="t-availability_start_date">Available start Date:{{space.availability_start_date}}</p>
    <p class="t-availability_end_date">Avaliable end date:{{space.availability_start_date}}</p>
    <a herf="/all">Go back to all listing</a>
    </p>   
    <!-- ... -->
  </body>
</html>